/* NavigationBar.css */

.home-icon {
  margin-right: 5px;
  margin-left: 20px;
}

.user-icon {
  margin-right: 5px;
}

.logout-icon {
  margin-right: 5px;
  color: aquamarine;
}

.btn-secondary {
  margin-left: 10px;
  border: none;
  background-color: #343a40;
}

/* Additional CSS for positioning */
.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navbar-brand > .nav-link {
  padding: 0;
  margin-left: -5px;
}

.navbar-nav .ml-auto {
  display: flex;
  align-items: center;
}

/* Full-width container */
.container-fluid {
  width: 100%;
  padding-right: 45px;
  padding-left: 45px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2px;
}
